<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link rel="stylesheet" th:href="@{/css/styles.css}"/>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Hondentrimsalon Amber</title>
</head>
<body>

    <div th:replace="fragments/header :: header"> Header </div>

        <div th:object="${dog}">
            <form th:action="@{|/create/Dog|}" method="post">
                <label for="DogName">name</label>
                <input id="DogName" name="DogName" placeholder="name">

                <label for="DogGender">phone number</label>
                <input id="DogGender" name="DogGender" placeholder="gender">

                <label for="DogInfo">Info</label>
                <input id="DogInfo" name="DogInfo" placeholder="info">

                <label for="DogBreed">Breed</label>
                <select name="DogBreed" id="DogBreed">
                    <option th:each="breed:${breeds}" th:value="${breed.id}" th:text="${breed.breedName}"
                            th:selected="DogBreed == ${breed.id}">breed name
                    </option>
                </select>

                <label for="DogFur">Breed</label>
                <select name="DogFur" id="DogFur">
                    <option th:each="fur:${furs}" th:value="${fur.id}" th:text="${fur.id}"
                            th:selected="DogFur == ${fur.id}">fur name
                    </option>
                </select>

                <label for="DogCustomer">Customer</label>
                    <select name="DogCustomer" id="DogCustomer">
                        <option th:each="customer:${customers}" th:value="${customer.id}" th:text="${customer.id}"
                                th:selected="DogCustomer == ${customer.id}">customer
                        </option>
                    </select>

                <input type="submit" value="new Customer">
            </form>
        </div>

    <!--div th:replace="fragments/footer :: footer"> Footer </div-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</body>
</html>