<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Hondentrimsalon Amber</title>
</head>
<body>

    <nav th:fragment="header">
        <div class="row">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/AboutUs}">about us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/DogList}">Dog list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/CustomerList/filter}">Customer list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/PriceList}">Price list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/create/Customer}">create customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/create/Product}">create product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/create/Dog}">create dog</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>