<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link rel="stylesheet" th:href="@{/css/styles.css}"/>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Hondentrimsalon Amber</title>
</head>
<body>

    <div th:replace="fragments/header :: header"> Header </div>

        <form th:action="@{|/edit/Dog/${dog.id}|}" method="post">
            <label for="DogName">name</label>
            <input id="DogName" name="DogName" th:value="${dog.name}">

            <!--label for="DogGender">phone number</label>
            <input id="DogGender" name="DogGender" th:value="${dog.gender}"-->

            <label for="DogGender">phone number</label>
            <select id="DogGender" name="DogGender">
                <option th:text="'Reu'" th:value="'Reu'" th:selected="DogGender == ${dog.gender}">Reu</option>
                <option th:text="'Teef'" th:value="'Reu'" th:selected="DogGender == ${dog.gender}">Teef</option>
                <option th:text="'Unknown'" th:value="'Unknown'" th:selected="DogGender == ${dog.gender}">Unknown</option>
            </select>

            <label for="DogAge">phone number</label>
            <input id="DogAge" name="DogAge" th:value="${dog.age}">

            <label for="DogInfo">Info</label>
            <input id="DogInfo" name="DogInfo" th:value="${dog.extraInfo}">

            <label for="DogBreed">Breed</label>
            <select name="DogBreed" id="DogBreed">
                <option th:each="breed:${breeds}" th:value="${breed.id}" th:text="${breed.breedName}"
                        th:selected="${dog.breed.id == breed.id}">breed name
                </option>
            </select>

            <label for="DogFur">Breed</label>
            <select name="DogFur" id="DogFur">
                <option th:each="fur:${furs}" th:value="${fur.id}" th:text="${fur.id}"
                        th:selected="${dog.fur.id == fur.id}">fur name
                </option>
            </select>

            <input type="submit" value="edit dog">
        </form>

    <!--div th:replace="fragments/footer :: footer"> Footer </div-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>