<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link rel="stylesheet" th:href="@{/css/styles.css}"/>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Hondentrimsalon Amber</title>
</head>
<body>

    <div th:replace="fragments/header :: header"> Header </div>

        <form th:action="@{|/edit/Product/${product.id}|}" method="post">
            <label for="ProductName">name</label>
            <input id="ProductName" name="ProductName" th:value="*{product.productName}">

            <label for="ProductPrice">price</label>
            <input id="ProductPrice" name="ProductPrice" th:value="*{product.price}">

            <input type="submit" value="edit product">
        </form>

    <!--div th:replace="fragments/footer :: footer"> Footer </div-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>