<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link rel="stylesheet" th:href="@{/css/styles.css}"/>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Hondentrimsalon Amber</title>
</head>
<body>

    <div th:replace="fragments/header :: header"> Header </div>

        <section class="Customer">
            <div class="container">
                <div class="row">
                    <div th:if="${showFilters}" method="post">
                        <form>
                            <div class="p-1 bg-light shadow-sm">
                                <div class="input-group">
                                    <a class="btn btn-outline-secondary" th:href="@{/create/Customer}">create</a>

                                    <label for="Keyword"></label>
                                    <input class="form-control border-0" type="text" id="Keyword" name="Keyword" th:value="${keyword}" placeholder="name">

                                    <button class="btn btn-outline-secondary" type="submit">filter</button>
                                </div>
                            </div>
                        </form>

                        <div class="row mt-5">
                            <div class="col-lg-3 col-md-4 col-6" th:each="customer:${customers}">
                                <div class="card mb-5 p-3">
                                    <a class="listcard" th:href="@{|/CustomerDetails/${customer.id}|}">
                                        <img src="/img/profile.jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h4 class="card-title text-center" th:text="${customer.name}">name</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <div th:replace="fragments/footer :: footer"> Footer </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>